.project
.settings/
esphora-conector/.classpath
esphora-conector/.project
esphora-conector/.settings/
esphora-conector/target/
esphora-conector/jar/.classpath
esphora-conector/jar/.project
esphora-conector/jar/.settings/
esphora-conector/jar/target/
esphora-conector/war/.classpath
esphora-conector/war/.project
esphora-conector/war/.settings/
esphora-conector/war/target/
esphora-conector-gui/.classpath
esphora-conector-gui/.project
esphora-conector-gui/.settings/
esphora-conector-gui/target/
esphora-conector-gui/jar/.classpath
esphora-conector-gui/jar/.project
esphora-conector-gui/jar/.settings/
esphora-conector-gui/jar/target/
esphora-conector-gui/war-adecco/.classpath
esphora-conector-gui/war-adecco/.project
esphora-conector-gui/war-adecco/.settings/
esphora-conector-gui/war-adecco/target/
esphora-conector-gui/war-pdm/.classpath
esphora-conector-gui/war-pdm/.project
esphora-conector-gui/war-pdm/.settings/
esphora-conector-gui/war-pdm/target/
esphora-conector-sap/.settings
esphora-conector-sap/target
esphora-conector-sap/.classpath
esphora-conector-sap/.project
